In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
tweet_list = pd.read_csv('TweetTest_Unmatched.csv')
tweet_list[:15]

,id,created,text,lat,long,category
0,7.088640e+17,3/13/2016 3:57,06:56 @KenyaRedCross bad accident on Waiyaki W...,0,0,NONE
1,7.088560e+17,3/13/2016 3:24,06:23 ma3route there is an accident along msa ...,0,0,NONE
2,7.088020e+17,3/12/2016 23:48,"02:47 Accident, Langata road. Pedestrian kille...",0,0,NONE
3,7.087740e+17,3/12/2016 21:56,00:55 are people blowing on KIAMBU ROAD? via @...,0,0,NONE
4,7.087630e+17,3/12/2016 21:14,00:14 someone knocked down and died on the spo...,0,0,NONE
5,7.087610e+17,3/12/2016 21:07,00:07 accident at the Junction towards Carnivo...,0,0,NONE
6,7.087590e+17,3/12/2016 20:58,23:57 @IkeOjuok The inhuman acts by police are...,0,0,NONE
7,7.087540e+17,3/12/2016 20:37,23:37 SHARE and remind a family member or a fr...,0,0,NONE
8,7.087480e+17,3/12/2016 20:16,23:15 FYA https://t.co/zf57m5lq2P via @IkeOjuok,0,0,NONE
9,7.087480e+17,3/12/2016 20:15,23:15 The wreckage of the #SubuigaAccident ht...,0,0,NONE
10,7.087470e+17,3/12/2016 20:10,23:09 @NPSOfficial_KE When you see in Nairobi ...,0,0,NONE
11,7.087460e+17,3/12/2016 20:06,23:05 Woiiiiii this Dohny roundabout will fini...,0,0,NONE
12,7.087440e+17,3/12/2016 19:56,22:56 KAS 845S Mathree....Respect The Lights p...,0,0,NONE
13,7.087410e+17,3/12/2016 19:47,22:47 Wen guy tries 2 b romantic &amp; go to p...,0,0,NONE
14,7.087410e+17,3/12/2016 19:45,22:45 what outering road looks like https://t...,0,0,NONE

In [3]:
category_list = pd.read_csv('tweet_categories.csv')
category_list[:15]

                   Word  Category
0         heavy traffic   traffic
1           traffic jam   traffic
2                   jam   traffic
3                  jams   traffic
4                bumper   traffic
5          slow traffic   traffic
6   mfululizo wa magari   traffic
7      magari hazisongi   traffic
8              kuna jam   traffic
9              accident  accident
10            accidents  accident
11             wreckage  accident
12                wreck  accident
13            collision  accident
14                crash  accident

In [4]:
# Find out how many tweets are missing category info

def sum_category(df):
    i=0
    j=0
    for row in df.itertuples():
        if row[6]=='NONE':
            i+=1
        else:
            j+=1
    return str(j)+" have a category, "+str(i)+" do not"

In [5]:
print sum_category(tweet_list)

0 have a category, 3163 do not

In [6]:
# This function goes through each entry in category_list and looks for it in the passed string
# When it finds a match, it returns the associated category name
# It ignores case. If there are multiple matches only the last one will be returned

def check_category(test_string):
    result = 'NONE'
    for keyword in category_list.itertuples():
        if str(keyword[1]).lower() in test_string.lower():
            result = keyword[2]
    return result

In [7]:
print check_category('jams')
print check_category('JAMs')
print check_category('jams and crashes today')
print check_category('no keywords')

traffic
traffic
accident
NONE

In [8]:
# Replace any missing categories, if a match was found
def fill_in_categories(df, cat_col=5):
    for row in df.itertuples():
        idx = row[0]
        category = check_category(str(row[3]))
        if row[6]=='NONE':
            df.iloc[idx,cat_col] = category

In [9]:
fill_in_categories(tweet_list)

In [10]:
# check to see how many we fixed

print sum_category(tweet_list)

524 have a category, 2639 do not

In [11]:
# Add code here to output to the format of your choice

tweet_list.to_csv("processed_tweets.csv", index=False)