In [1]:
import pandas as pd
import math

In [2]:
# import the files as dataframes
location_list = pd.read_csv('LMFull.csv')
tweet_list = pd.read_csv('TweetMarch2016.csv')

In [3]:
print "# of tweets: " + str(len(tweet_list))
print "# of landmarks: " + str(len(location_list))

# of tweets: 3163
# of landmarks: 1555

In [4]:
tweet_list[:10]

,id,created,text,lat,long,category
0,708864459112972000,3/13/2016 3:57,06:56 @KenyaRedCross bad accident on Waiyaki W...,-1.262821,36.764784,accident
1,708856154093281000,3/13/2016 3:24,06:23 ma3route there is an accident along msa ...,-1.180448,36.939088,accident
2,708801752045256000,3/12/2016 23:48,"02:47 Accident, Langata road. Pedestrian kille...",-1.249806,36.846795,accident
3,708773649432469000,3/12/2016 21:56,00:55 are people blowing on KIAMBU ROAD? via @...,0.000000,0.000000,NONE
4,708763204910854000,3/12/2016 21:14,00:14 someone knocked down and died on the spo...,0.000000,0.000000,NONE
5,708761359224188000,3/12/2016 21:07,00:07 accident at the Junction towards Carnivo...,-1.298857,36.762126,accident
6,708758968919674000,3/12/2016 20:58,23:57 @IkeOjuok The inhuman acts by police are...,0.000000,0.000000,NONE
7,708753892972974000,3/12/2016 20:37,23:37 SHARE and remind a family member or a fr...,0.000000,0.000000,NONE
8,708748481968508000,3/12/2016 20:16,23:15 FYA https://t.co/zf57m5lq2P via @IkeOjuok,0.000000,0.000000,NONE
9,708748356592410000,3/12/2016 20:15,23:15 The wreckage of the #SubuigaAccident ht...,-1.249806,36.846795,accident

In [5]:
location_list[:10]

,Landmark,Road,Landmark_road,Lat,Lon
0,87,Waiyaki Way,87 Waiyaki Way,-1.257841,36.700929
1,1824,NaN,1824,-1.322725,36.803513
2,1st Parklands Junction,Masari Rd,1st Parklands Junction Masari Rd,-1.263199,36.815862
3,1st Parklands Junction,Masari Road,1st Parklands Junction Masari Road,-1.263199,36.815862
4,87 stage,Waiyaki Way,87 stage Waiyaki Way,-1.257841,36.700929
5,abc,Waiyaki Way,abc Waiyaki Way,-1.259264,36.776663
6,ABC Place,Waiyaki Way,ABC Place Waiyaki Way,-1.259264,36.776663
7,Adams Arcade,Ngong Rd,Adams Arcade Ngong Rd,-1.300039,36.780856
8,Adams Arcade,Ngong Road,Adams Arcade Ngong Road,-1.300039,36.780856
9,adams roundabout,NaN,adams roundabout,-1.300065,36.779716

In [6]:
# Find out how many tweets are missing geo info
i=0
j=0
for row in tweet_list.itertuples():
    if row[4]==0 or row[5]==0:
        i+=1
    else:
        j+=1

print str(i)+" no lat long, "+str(j)+" have geo"

1854 no lat long, 1309 have geo

In [7]:
# This function goes through each entry in location_list and looks for it in the passed string
# When it finds a match, it returns the associated lat-long as a dict
# It ignores case. If there are multiple matches only the last one will be returned

def check_landmark(test_string):
    result = {'lat':float('nan'),'lon':float('nan')}
    for landmark in location_list.itertuples():
        if str(landmark[1]).lower() in test_string.lower():
            result = {'lat':landmark[4],'lon':landmark[5]}
    return result

In [8]:
print check_landmark('abc place')
print check_landmark('ABC place')
print check_landmark('ABC place and Adams Arcade')
print check_landmark('fake name')

{'lat': '-1.259264', 'lon': 36.776662999999999}
{'lat': '-1.259264', 'lon': 36.776662999999999}
{'lat': '-1.300039', 'lon': 36.780856}
{'lat': nan, 'lon': nan}

In [9]:
# Now use the function on every tweet that is missing geo data
# Any missing lat-long values are replaced by matched ones from location_list
# NaNs are filled in if no location match was found

for row in tweet_list.itertuples():
    idx = row[0]
    location = check_landmark(str(row[3]))
    if (row[4]==0 or row[5]==0):
        tweet_list.iloc[idx,3] = location['lat']
        tweet_list.iloc[idx,4] = location['lon']

In [11]:
# Check to see how many we fixed

m=0
n=0
for row in tweet_list.itertuples():
    if math.isnan(float(row[4])) or math.isnan(float(row[5])):
        m+=1
    else:
        n+=1

print str(m)+" no lat long, "+str(n)+" have geo"

1791 no lat long, 1372 have geo

In [12]:
tweet_list[:50]

,id,created,text,lat,long,category
0,708864459112972000,3/13/2016 3:57,06:56 @KenyaRedCross bad accident on Waiyaki W...,-1.26282,36.764784,accident
1,708856154093281000,3/13/2016 3:24,06:23 ma3route there is an accident along msa ...,-1.18045,36.939088,accident
2,708801752045256000,3/12/2016 23:48,"02:47 Accident, Langata road. Pedestrian kille...",-1.24981,36.846795,accident
3,708773649432469000,3/12/2016 21:56,00:55 are people blowing on KIAMBU ROAD? via @...,NaN,NaN,NONE
4,708763204910854000,3/12/2016 21:14,00:14 someone knocked down and died on the spo...,NaN,NaN,NONE
5,708761359224188000,3/12/2016 21:07,00:07 accident at the Junction towards Carnivo...,-1.29886,36.762126,accident
6,708758968919674000,3/12/2016 20:58,23:57 @IkeOjuok The inhuman acts by police are...,NaN,NaN,NONE
7,708753892972974000,3/12/2016 20:37,23:37 SHARE and remind a family member or a fr...,NaN,NaN,NONE
8,708748481968508000,3/12/2016 20:16,23:15 FYA https://t.co/zf57m5lq2P via @IkeOjuok,NaN,NaN,NONE
9,708748356592410000,3/12/2016 20:15,23:15 The wreckage of the #SubuigaAccident ht...,-1.24981,36.846795,accident
10,708746971847086000,3/12/2016 20:10,23:09 @NPSOfficial_KE When you see in Nairobi ...,NaN,NaN,NONE
11,708745965763571000,3/12/2016 20:06,23:05 Woiiiiii this Dohny roundabout will fini...,-1.29196,36.841591,NONE
12,708743534644342000,3/12/2016 19:56,22:56 KAS 845S Mathree....Respect The Lights p...,NaN,NaN,NONE
13,708741226120351000,3/12/2016 19:47,22:47 Wen guy tries 2 b romantic &amp; go to p...,NaN,NaN,NONE
14,708740765141196000,3/12/2016 19:45,22:45 what outering road looks like https://t...,NaN,NaN,NONE
15,708740554360692000,3/12/2016 19:44,22:44 2220hrs: Police are still engaging innoc...,-1.304765,36.856105,NONE
16,708738625190539000,3/12/2016 19:37,22:36 jam on jogoo road and outering road is a...,NaN,NaN,traffic
17,708738374174007000,3/12/2016 19:36,22:35 jam on jogoo road and offering road is a...,NaN,NaN,traffic
18,708731830187393000,3/12/2016 19:10,22:09 what on earth is happening at the railwa...,-1.29196,36.841591,NONE
19,708730194383667000,3/12/2016 19:03,22:03 Dear @ntsa_kenya Haile selassie is a par...,NaN,NaN,NONE
20,708729775569788000,3/12/2016 19:02,22:01 Mukuru residents in running battles with...,-1.18045,36.939088,NONE
21,708727091659821000,3/12/2016 18:51,21:50 @crimewatch008 @Maina_Kenneth what is th...,NaN,NaN,NONE
22,708726923841527000,3/12/2016 18:50,21:50 traffic ðŸš¥ ingine along Jogoo Road to Do...,NaN,NaN,NONE
23,708726880363356000,3/12/2016 18:50,21:50 #KCA931 Rembo Shuttle would rather hit a...,-1.25215,36.859953,NONE
24,708726335649132000,3/12/2016 18:48,21:47 #KCA931 Rembo Shuttle those games you pl...,-1.25215,36.859953,NONE
25,708725999869890000,3/12/2016 18:47,21:46 whats going on Muthurwa next to Country ...,-1.28591,36.833338,NONE
26,708725371185664000,3/12/2016 18:44,21:44 It'll be Sunny tomorrow in Nairobi! With...,NaN,NaN,NONE
27,708725286850809000,3/12/2016 18:44,21:43 The transport sector is like a market pl...,NaN,NaN,NONE
28,708725203434475000,3/12/2016 18:43,21:43 Commuters and drivers just stick to Momb...,-1.37984,36.770279,NONE
29,708722811976568000,3/12/2016 18:34,21:33 Be extremely careful in South B. Riots a...,NaN,NaN,NONE
30,708721470499721000,3/12/2016 18:29,21:28 At Devki. Terrible traffic towards town....,NaN,NaN,NONE
31,708720296090574000,3/12/2016 18:24,21:23 Coming from #Greenpark-Msa rd and the ja...,NaN,NaN,traffic
32,708717486275858000,3/12/2016 18:13,21:12 Terrible traffic inside Thika town. Cars...,NaN,NaN,NONE
33,708716855754555000,3/12/2016 18:10,21:10 I call all KE #KOT Kindly follow the lin...,NaN,NaN,NONE
34,708713667873734000,3/12/2016 17:58,20:57 It will take you one hour to just cross ...,NaN,NaN,NONE
35,708713500596523000,3/12/2016 17:57,20:56 just overlapped and forced a car to go o...,NaN,NaN,NONE
36,708710984114839000,3/12/2016 17:47,20:46 @pmmutsau Jam on msa rd to Simba Cement ...,-1.44899,36.970337,traffic
37,708710480907358000,3/12/2016 17:45,20:44 Jam Mombasa road from simba cement to na...,-1.44899,36.970337,traffic
38,708709977997717000,3/12/2016 17:43,20:42 @PoliceKE @EngBauer Police man Manning D...,-1.29886,36.762126,NONE
39,708709935366799000,3/12/2016 17:43,20:42 Solution need to found out cz athiriver ...,-1.29886,36.762126,NONE
40,708709934746087000,3/12/2016 17:43,20:42 apart frm corruption leading in the wrld...,NaN,NaN,NONE
41,708709306305130000,3/12/2016 17:40,20:40 Riots in South B as irate residents prot...,-1.28714,36.953080,NONE
42,708708635874963000,3/12/2016 17:38,20:37 hii barabara kutoka rounda ya kariobangi...,-1.18045,36.939088,NONE
43,708707963641331000,3/12/2016 17:35,"20:34 ""Avoid southB shopping centre route into...",-1.319443,36.837845,NONE
44,708707879872692000,3/12/2016 17:35,20:34 Thika at standstill on Carissa road. Wha...,NaN,NaN,NONE
45,708707418075566000,3/12/2016 17:33,20:32 that 'CD' people say it will stop you fr...,NaN,NaN,NONE
46,708707293219565000,3/12/2016 17:32,20:32 Reason nobody has ever been arrested for...,-1.3302,36.870268,traffic
47,708707251410722000,3/12/2016 17:32,20:32 Jam mweda at athi river junction on Momb...,-1.29886,36.762126,traffic
48,708707167222632000,3/12/2016 17:32,20:31 @nbitrafficbot @Klaus254 the bumps befor...,NaN,NaN,NONE
49,708706832684978000,3/12/2016 17:30,20:30 Security cameras in Nairobi are manned b...,-1.3302,36.870268,NONE